<% provide(:title, 'Notes') %>
<h1>Notes</h1>

<%= will_paginate %>

<div class="container">
  <table class="table table-responsive table-hover">
    <thead>
      <tr >
        <th>Title</th>
        <th>Body</th>
        <th>Created By</th>
        <th></th>
        <th></th>
     </tr>
    </thead>
    <tbody>
      <%= render @notes %>
    </tbody>
  </table>
</div>

<%= will_paginate %>
