<div class='notes-tab'>
  <div class='pagination-wrapper'>
    <%= will_paginate %>
    <%= button_to "New", new_note_path, method: :get, class: 'btn btn-primary'%>
  </div>

  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th class='col-md-1'>Title</th>
        <th class='col-md-7'>Body</th>
        <th class='col-md-1'>Created By</th>
        <th class='col-md-1'>View</th>
        <th class='col-md-1'>Edit</th>
        <th class='col-md-1'>Delete</th>
     </tr>
    </thead>
    <tbody>
      <%= render @notes %>
    </tbody>
  </table>

</div>
