<% provide(:title, 'Notes') %>


<%= will_paginate %>

<div class="container main-page-with-margin">
  <table class="table table-responsive table-hover">
    <thead>
      <tr >
        <th>Title</th>
        <th>Body</th>
        <th>Created By</th>
        <th>View</th>
        <th>Delete</th>
     </tr>
    </thead>
    <tbody>
      <%= render @notes %>
    </tbody>
  </table>
  <%= button_to "New", new_note_path, method: :get, class: 'btn btn-primary'%>
</div>

<%= will_paginate %>
