<div class='notes-tab'>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div> <%= @note.title %></div>
      <% if @note.positive? %>
        <div class='glyphicon glyphicon-thumbs-up'></div>
      <% else %>
        <div class='glyphicon glyphicon-thumbs-down'></div>
      <% end %>
    </div>
    <div class="panel-body"><%= @note.body %></div>
    <div class="panel-footer">Created By: <%= @note.create_by %></div>
  </div>
</div>
