<% action_items.each do |action_item| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <%= action_item.title %>
    </div>
    <div class="panel-body">
      <div><%= action_item.body %></div>
    </div>
    <div class="panel-footer">
      <div>
        Assigned To: <%= action_item.assigned_to %>
      </div>
      <%= link_to new_action_item_path(meeting: Meeting.last, note: action_item.note) do %>
         <div class='reviewed-btn'>
           Create follow up item <span class="glyphicon glyphicon-plus"></span>
         </div>
      <% end %>
    </div>
  </div>
<%end %>
