<% action_items.each do |action_item| %>
  <div class="note-in-column panel panel-primary">
    <div class="panel-heading">
      <%= link_to action_item.title, action_item_path(action_item) %>
    </div>
    <div class="panel-footer">
      <div>
        Assigned To: <%= action_item.assigned_to %>
      </div>
      <%= link_to new_action_item_path(meeting: Meeting.last, note: action_item.note) do %>
         <div class='reviewed-btn'>
           Create follow up item <span class="glyphicon glyphicon-plus"></span>
         </div>
      <% end %>
    </div>
  </div>
<%end %>
