<div class='meeting-tab'>
  <div class='left-sidebar'>
    <div class='sidebar-btn'>Last Action Items</div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>
    <div class='sidebar-btn'>For Discussion</div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>
    <div class='sidebar-btn'>Discussed</div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>
    <div class='sidebar-btn'>New Action Items</div>
  </div>

  <div class='main-view'>
    main view
  </div>
</div>
