@import "_bootstrap_override";

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination {
  margin: 0;
  padding: 0;
  // display: flex;
  // justify-content: space-between;
  ul { margin: auto; }
  li > a {
    color: $main-text-color;
    &:hover { color: $main-text-color; }
  }
  .active {
    a {
      background-color: $primary;
      border-color: $primary;
      &:hover {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}
