@import "_colors";
@import "_sizes";
@import "_placeholders";
.action-items-tab {
  @extend %tab;
  .panel {
    margin-top: $pagination-heigth;
  }
  .panel-heading, .panel-footer {
    display: flex;
    justify-content: space-between;
  }
  // .glyphicon {
  //   display: flex;
  //   align-items: center;
  // }
}
