@import "_colors";
@import "_sizes";


@font-face {
  font-family: 'retro'; /*a name to be used later*/
  src: url('/fonts/SEASRN__.ttf'); /*URL to font*/
}

$main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$retro-font: "retro", sans-serif;

html, body {
  margin: 0;
  height: 100%;
}
body a {
  color: $brown;
  &:hover {
    text-decoration: none;
    color: $brown;
  }
}

.main-wrapper {
  margin: 0;
  height: 100%;
  color: $brown;
}

.logged-in {
  height: 100%;
  background: linear-gradient(#FFFEFC, #FCD19E);
}

footer {
  color: $main-text-color;
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 98%;
  padding: 0 5px;
  z-index: 999;
  margin: auto;
}

table {
  table-layout: fixed;
}
table th, table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

th, td {
  text-align: center;
}

.td-left {
  text-align: left;
}
