@import "_colors";
@import "_placeholders";
@import "custom";

header {
  $logo-width: 50px;
  $header-height: 100px;

  background-color: $secondery-backgound-color;
  height: $header-height;
  padding: 5px;
  .header-container {
    @extend %verticaly-aligned;
    float: left;
    width: calc(100% - #{$logo-width});
    height: 100%;
    nav {
      @extend %verticaly-aligned;
      justify-content: space-between;
      padding-right: 15px;
      .nav-btn {
        @extend %verticaly-aligned;
        justify-content: center;
        border: 2px solid #666547;
        margin: 5px;
      }
      a {
        color: $spectory-orange;
        text-decoration: none;
        padding: 25px;
      }
      a:hover {
        font-weight: bold;
      }
    }

    .header-title {
      @extend %verticaly-aligned;
      color: $spectory-orange;
      text-decoration: none;
      font-family: $retro-font;
      height: 100%;
      font-size: 400%;
      // font-weight: 600;
      padding-left: 1%;
    }
  }
  .logo {
    float: right;
    width: $logo-width;
  }
}
