@import "custom";
@import "_colors";

.login {
  // display: flex;
  // justify-content: space-around;
  // align-items: flex-start;
  color: $spectory-orange;
  padding: 10% 1%;
  height: 500px;
  .title {
    font-family: $retro-font;
    font-size: 420%;
    float: left;
    width: 45%;
  }
  .login-form {
    width: 55%;
    float: right;
    margin-top: 16px;
    padding: 0 16% 0 4%;
  }
}
