@import "_colors";

.column {
  background-color: $secondery-backgound-color;
  height: 80vh;
  width: calc(25% - 10px);
  margin: 2px;
  overflow-y: auto;
  // opacity: .5;
  h4 {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
  }
}
