// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors";

.delete-btn, .delete-btn:hover, .delete-btn:visited {
  text-decoration: none;
  color: #d63131;
}
.edit-btn {
  text-decoration: none;
  color: $main-text-color;
}

.note-in-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    font-weight: bold;
  }
  .reviewed-btn {
    float: right;
    margin-right: 2%;
  }
}
