<div class='notes-tab'>
  <%= will_paginate %>

  <table class="table table-responsive table-hover">
    <thead>
      <tr >
        <th class='col-md-2'>Title</th>
        <th class='col-md-5'>Body</th>
        <th class='col-md-1'>Assigned To</th>
        <th class='col-md-1'>Note</th>
        <th class='col-md-1'>Edit</th>
        <th class='col-md-1'>View</th>
        <th class='col-md-1'>Delete</th>
     </tr>
    </thead>
    <tbody>
      <%= render @action_items %>
    </tbody>
  </table>

</div>
