<%= will_paginate %>

<div class="container main-page-with-margin">
  <table class="table table-responsive table-hover">
    <thead>
      <tr >
        <th>Title</th>
        <th>Body</th>
        <th>Assigned To</th>
        <th>Note</th>
        <th>Edit</th>
        <th>View</th>
        <th>Delete</th>
     </tr>
    </thead>
    <tbody>
      <%= render @action_items %>
    </tbody>
  </table>
</div>

<%= will_paginate %>
