<header>
  <div class='header-container'>
    <span>Retro-Spec</span>

    <nav>
      <div class='nav-btn'> <a href="#">Notes</a> </div>
      <div class='nav-btn'> <a href="#">Meetings</a> </div>
      <div class='nav-btn'> <a href="#">Actions Items</a> </div>
    </nav>
  </div>
  <%= image_tag('logo.png', class: "logo") %>
</header>
